<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='common.css') }}" />
    <link rel="stylesheet" href="../static/common.css">
</head>

<body>
    <div class="wrapper">        
        <div class="inner">
            <div class="topNavigation">
                <p alt="戻るボタン" class="txtButton" id="reSpeak">< もどる</p>
                <p alt="もう一度読み上げる　ボタン" class="txtButton">再読み上げ</p>
            </div>
            <div class="camera">
                <a id="shutter" onclick="onClickVideo()">
                    <video id="video"></video>
                </a>
            </div>
            <div class="txtBox">
                <p id="indicator">ここに読み上げられるテキストがきます</p>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static',filename='script.js') }}"></script>
<script src="../static/script.js"></script>

</html>